







body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:white;
    color: red;
    font-family: 'Arial', sans-serif;
}

#watch {
    font-size: 6rem;
}




















































































